{% extends 'base.html.twig' %}

{% block title %}All Article{% endblock %}
{% block body %}
    <div class="container-fluid col-6">
        {% for user in users %}
            <div class="form-group">
                <h1>
                    {{ user.firstname }}
                </h1>
            </div>
            {% for article in user.articles %}
                <div class="form-group">
                    <p>
                        <a href="{{ path('article', { 'id': article.id }) }}">{{ article.name }}</a>
                    </p>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
