{% extends 'base.html.twig' %}

{% block title %}All Article{% endblock %}
{% block body %}
    <div class="container-fluid col-6 text-center mt-4">
        <h1 class="mt-3" style="color: #8959A8;">All Articles</h1>
        {% for user in users %}
            <div class="form-group mt-2">
                <h3>{{ user.firstname }}</h3>
            </div>
            {% for article in user.articles %}
                <div class="form-group">
                    <a href="{{ path('detail_article', { 'id': article.id }) }}">{{ article.name }}</a>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
